name: Python application CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install streamlit pandas
    - name: Lint with flake8
      run: |
        pip install flake8
        # Para o build se houver erros de sintaxe Python
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics